div{
    margin: 20px;
}

h1{
    font-size: 50px;
    font-weight: bolder;
    display: inline-block;
}

img{
    margin: 20px;
    width: 170px;
}

ul{
    margin: 20px;
}

li{
    text-align: center;
    height: 80px;
    width: 200px;
    margin: 10px;
    font-size: 26px;
}

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
    background-color: rgba(228, 228, 228, 0.5);
    height: 80px;
}

.nav-pills .nav-link{
    color: rgb(0, 0, 0) !important;
}

mat-icon{
    color:black;
    font-size: 45px;
    position: relative;
    top: 13px;
    right: 20px;
}