div{
    width: 100%;
    display: flex;
    justify-content: center;
}

table{
    margin: 40px;
    width: 1200px;
    border: solid 4px rgb(197, 197, 197);
}

th{
    font-size: 20px;
}

td{
    font-size: 18px;
}

tr{
    height: 60px;
}