<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre Completo</th>
        <th scope="col">Género</th>
        <th scope="col">País</th>
        <th scope="col">Ciudad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of listaClientes">
        <td>{{cliente.name}} {{cliente.lastname}}</td>
        <td>{{cliente.gender}}</td>
        <td>{{cliente.country}}</td>
        <td>{{cliente.city}}</td>
      </tr>
    </tbody>
  </table>
</div>